<!DOCTYPE html>
<head>
	<!-- 
    	Brownie Template
    	http://www.templatemo.com/preview/templatemo_440_brownie

    	Credits:
    	http://sorgalla.com/jcarousel/
    	http://unsplash.com
    	http://absurdwordpreferred.deviantart.com/art/FREE-Cogs-Transparent-PNG-145452644
    -->
	<title>Subscriptz</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/Addcoupon.css" rel="stylesheet" type="text/css">
</head>
<body style="overflow-x: hidden;">
	<nav id="responsive-menu">
        <ul class="menu-holder">
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/explore"><i class="fa fa-briefcase"></i>Explore</a></li>
            <li><a href="/add"><i class="fa fa-home"></i>Add</a></li>
            <li class="active"><a href="/my_subscriptz"><i class="fa fa-book"></i>My Subscriptz</a></li>
            <li><a href="/logout"><i class="fa fa-cogs"></i>Logout</a></li>
        </ul>
    </nav>
    <div class="templatemo-site-header">
		<div class="container">
			<div class="row templatemo-position-relative">				
				<nav class="hidden-xs text-uppercase templatemo-nav">
					<ul class="menu-holder">
						<li><a href="/">🏡Home</a></li>
						<li><a href="/explore">🔍Explore</a></li>
                        <li><a href="/add">➕Add</a></li>	
                        <li class="active"><a href="/my_subscriptz">📃My Subscriptz</a></li>				
						<li><a href="/logout">Logout</a></li>
						
					</ul>
				</nav>
				<h1 class="templatemo-site-name">
                	<span class="templatemo-brown" style="align-items: center">Get Started 🤩</span> 
                	<span class="templatemo-gold"></span>
                </h1>
				<div class="text-right visible-xs">
		            <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
		        </div>
			</div>
		</div>    	
    </div>
	<section id="home" class="templatemo-section">
        <h2 style="margin-top: -4rem; margin-bottom: 2rem; margin-left: 2rem;">😎My Subscriptions</h2>			
	</section>
		<div class="container" >
            <div class="row">
                <% for( var subs of data ) { %>
                <div class="col-xs-12 col-md-4">
                    <div class="card" style="border-radius: 20px; border: 2px solid whitesmoke; padding: 10px">
                        <div class="card-body">
                            <h5 class="card-title"><%= subs.title %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%= subs.platform %></h6>
                            <p class="card-text"><%= subs.desc %></p>
                            <a href=<%= subs.url %> class="card-link">Link</a>
                            <p class="text-right" style="color: rgb(143, 143, 55);"><%= subs.expr_date.getDate()+"/"+(subs.expr_date.getMonth()+1)+"/"+subs.expr_date.getFullYear() %></p>
                        </div>
                    </div>
                </div>
                <% } %> 
                </div>
            </div>
        </div>
	<footer class="container margin-top-30">
		<div class="row"  style="bottom: 0;">
			<div class="col-lg-12">
				<p class="templatemo-copyright-container text-uppercase small templatemo-brown">
					<span class="templatemo-copyright-text">Copyright &copy; 2084 <a href="#" class="templatemo-gold">Company Name</a></span>
					<!-- <span class="templatemo-copyright-design">Design: <a href="http://www.templatemo.com" class="templatemo-gold">templatemo</a></span> -->
				</p>
			</div>
		</div>		
	</footer>	
	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/js/jquery.jcarousel.min.js"></script>
	<script src="assets/js/templatemo_script.js"></script>
</body>
</html>